{% extends "base/base.html" %}
{% load static %}
{%  block content %}

{% include 'base/header_app_base.html' %}

<div class="container-fluid">
  <div class="row">
    {% include 'base/sidebar_base.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>Help centre</h3>
      </div>
      <div class="row row-cols-1 row-cols-lg-3 g-4 mb-5">
        <div class="col">
          <div class="card h-100"><img class="card-img-top" src="{% static "img/transfer.png" %}"/>
            <div class="card-body">
              <h5 class="card-title">Sending funds</h5>
              <ul>
                <li>From the dashboard page, click on <strong><span style="color: rgb(11, 111, 183);">Transfer</span></strong>.</li>
                <li>Type the username or email of the beneficiary in the search field and click the search icon button.</li>
                <li>In the amount field, enter the amount you wish to send to the beneficiary.</li>
                <li>(Optional) If you want to add a short note to the beneficiary, type it in the reference field.</li>
                <li>Double-check all the inputs and click Send.</li>
                <li>You will receive a success or error alert depending on the outcome.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><img class="card-img-top" src="{% static "img/request.png" %}" />
            <div class="card-body">
              <h5 class="card-title">Requesting funds</h5>
              <ul>
                <li>From the dashboard page, click on <strong><span style="color: rgb(11, 111, 183);">Transfer</span></strong>.</li>
                <li>Click on the &quot;Request Payment&quot; button, which will open a modal.</li>
                <li>In the search field, enter the username or email of the sender and click the search button.</li>
                <li>In the amount field, enter the amount you want to request.</li>
                <li>(Optional) If you want to include a short note to the sender, type it in the reference field.</li>
                <li>Double-check all the inputs and click Request.</li>
                <li>You will receive a success or error alert depending on the outcome.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><img class="card-img-top" src="{% static "img/acc_request.png" %}"/>
            <div class="card-body">
              <h5 class="card-title">Accept or Decline fund request</h5>
              <ul>
                <li>From the dashboard page, click on <strong><span style="color: rgb(11, 111, 183);">Transactions</span></strong>.</li>
                <li>In the &quot;All&quot; transactions tab, you will see a pending row in the table.</li>
                <li>To accept the money request from another user, click on the &quot;<strong><span style="color: rgb(255, 15, 0);">Accept</span></strong>&quot; button.</li>
                <li>To reject the money request, click on the &quot;<strong><span style="color: rgb(50, 191, 56);">Reject</span></strong>&quot; button.</li>
                <li>If you want to cancel a request that you made to another user, click on the &quot;<strong><span style="color: rgb(160, 160, 160);">Cancel</span></strong>&quot; button.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><img class="card-img-top" src="{% static "img/transactions.png" %}"/>
            <div class="card-body">
              <h5 class="card-title">View transaction history</h5>
              <ul>
                <li>From the dashboard page, click on <strong><span style="color: rgb(11, 111, 183);">Transactions</span></strong>.</li>
                <li>You will see a list of all your transaction history including successful, failed, and pending transactions, ordered by date.</li>
                <li>If you want to search for a specific transaction, use the search field.</li>
                <li>On the right side of the page, you will find the Account Overview, which displays your account balance, available balance, income, and expenses.</li>
                <li>To view your transactions sorted into categories, navigate through the &quot;All,&quot; &quot;Expenses,&quot; and &quot;Income&quot; tabs respectively.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><img class="card-img-top" src="{% static "img/info.png" %}"/>
            <div class="card-body">
              <h5 class="card-title">Updating user profile</h5>
              <ul>
                <li>From the dashboard page, click on <strong><span style="color: rgb(11, 111, 183);">Settings</span></strong>.</li>
                <li>Click on the &quot;Personal Info&quot; tab.</li>
                <li>Type in the details that you want to update.</li>
                <li>Click on the &quot;Save Changes&quot; button to update your profile details.</li>
                <li>You will receive a success or error alert depending on the outcome.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><img class="card-img-top" src="{% static "img/password.png"%}" %}"/>
            <div class="card-body">
              <h5 class="card-title">Changing password</h5>
              <ul>
                <li>From the dashboard page, click on <strong><span style="color: rgb(11, 111, 183);">Settings</span></strong>.</li>
                <li>Click on the &quot;Password and Security&quot; tab.</li>
                <li>Enter your old password.</li>
                <li>Enter your new password of choice. (The new password must be at least 8 characters long.)</li>
                <li>Enter the new password again in the &quot;Confirm New Password&quot; field. (Both new password and confirm new password must match.)</li>
                <li>Click on the &quot;Update Password&quot; button.</li>
                <li>You will receive a success or error alert depending on the outcome.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><img class="card-img-top" src="{% static "img/rates.png" %}"/>
            <div class="card-body">
              <h5 class="card-title">Checking rates</h5>
              <ul>
                <li>From the dashboard page, click on <strong><span style="color: rgb(11, 111, 183);">Settings</span></strong>.</li>
                <li>Click on the &quot;General&quot; tab.</li>
                <li>Select the currency of your choice from the list of available currencies.</li>
                <li>A table will display below, showing the currency name, currency code, and the rate compared to other currencies.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>


{%  endblock  %}