{% extends "base/base.html" %}
{% load static %}
{%  block content %}

{% include 'base/header_app_base.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'base/sidebar_base.html' %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h4>Transactions Overview</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-7 col-xl-7">
                    <div class="input-group mb-3"><input class="form-control" type="search"
                                                         placeholder="Search">
                        <button class="btn btn-dark" type="button">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none" class="fs-5 fw-bold">
                                <path
                                        d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                            </svg>
                        </button>
                    </div>
                    <ul id="pills-tab" class="nav nav-pills mb-3 border-bottom" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button id="pills-all-tab" class="nav-link active"
                                    type="button" data-bs-toggle="pill" data-bs-target="#pills-all" role="tab"
                                    aria-controls="pills-all" aria-selected="true">All
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button id="pills-expenses-tab" class="nav-link"
                                    type="button" data-bs-toggle="pill" data-bs-target="#pills-expenses" role="tab"
                                    aria-controls="pills-expenses" aria-selected="false">Expenses
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button id="pills-income-tab" class="nav-link"
                                    type="button" data-bs-toggle="pill" data-bs-target="#pills-income" role="tab"
                                    aria-controls="pills-income" aria-selected="false">Income
                            </button>
                        </li>
                    </ul>
                    <div id="pills-tabContent" class="tab-content ms-0 ms-sm-3">
                        <div id="pills-all" class="tab-pane fade show active" role="tabpanel"
                             aria-labelledby="pills-all-tab" tabindex="0">
                            <div class="table-responsive" style="height: 70vh !important;">
                                <table class="table table-hover remove-table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="border-bottom-0 m-0" style="box-shadow: none;"><span
                                                class="text-muted small">Pendng</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Ogun
                                                                    b</span><span class="text-black-50">19:30</span>
                                                    </div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            100.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-bottom-0 m-0 d-flex justify-content-between"
                                            style="box-shadow: none;"><span
                                                class="text-muted small">Today</span><span
                                                class="text-muted small">£ 15.30</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Raheem
                                                                    Momoh</span><span class="text-black-50">15:00</span>
                                                    </div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            10.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-danger fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM7 9C6.44772 9 6 9.44772 6 10C6 10.5523 6.44772 11 7 11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">To Zain
                                                                    Doe</span><span class="text-black-50">13:52</span>
                                                    </div>
                                                </div>
                                                <span class="fw-bold text-danger float-end">-£ 5.30</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-danger fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM7 9C6.44772 9 6 9.44772 6 10C6 10.5523 6.44772 11 7 11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">To Lipe
                                                                    Emma</span><span class="text-black-50">13:20</span>
                                                    </div>
                                                </div>
                                                <span class="fw-bold text-danger float-end">-£ 1.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-bottom-0 m-0 d-flex justify-content-between"
                                            style="box-shadow: none;"><span
                                                class="text-muted small">Yesterday</span><span
                                                class="text-muted small">£ 2,000.00</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:06</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:04</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:02</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:00</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="pills-expenses" class="tab-pane fade" role="tabpanel"
                             aria-labelledby="pills-expenses-tab" tabindex="0">
                            <div class="table-responsive" style="height: 70vh !important;">
                                <table class="table table-hover remove-table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="border-bottom-0 m-0 d-flex justify-content-between"
                                            style="box-shadow: none;"><span
                                                class="text-muted small">Today</span><span
                                                class="text-muted small">£ 6.30</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-danger fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM7 9C6.44772 9 6 9.44772 6 10C6 10.5523 6.44772 11 7 11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">To Zain
                                                                    Doe</span><span class="text-black-50">13:52</span>
                                                    </div>
                                                </div>
                                                <span class="fw-bold text-danger float-end">-£ 5.30</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-danger fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM7 9C6.44772 9 6 9.44772 6 10C6 10.5523 6.44772 11 7 11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">To Lipe
                                                                    Emma</span><span class="text-black-50">13:20</span>
                                                    </div>
                                                </div>
                                                <span class="fw-bold text-danger float-end">-£ 1.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="pills-income" class="tab-pane fade" role="tabpanel"
                             aria-labelledby="pills-income-tab" tabindex="0">
                            <div class="table-responsive" style="height: 70vh !important;">
                                <table class="table table-hover remove-table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="border-bottom-0 m-0 d-flex justify-content-between"
                                            style="box-shadow: none;"><span
                                                class="text-muted small">Today</span><span
                                                class="text-muted small">£ 10.00</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Raheem
                                                                    Momoh</span><span class="text-black-50">15:00</span>
                                                    </div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            10.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-bottom-0 m-0 d-flex justify-content-between"
                                            style="box-shadow: none;"><span
                                                class="text-muted small">Yesterday</span><span
                                                class="text-muted small">£ 2,000.00</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:06</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:04</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:02</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg" width="1em"
                                                            height="1em" viewBox="0 0 20 20" fill="none"
                                                            class="text-success fs-1 me-3">

                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                              d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <div class="d-grid"><span class="fw-bold">From Elia
                                                                    Haddou</span><span
                                                            class="text-black-50">10:00</span></div>
                                                </div>
                                                <span class="fw-bold text-success float-end">+£
                                                            500.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5 col-xl-5">
                    <h5 class="mb-4">Account Overview</h5>
                    <div class="bg-dark text-white">
                        <div class="p-3">
                            <p class="fw-lighter" style="font-size: 12px;">Balance</p>
                            <h2 class="fw-bold">GBP 1,100.00</h2><span class="fw-lighter"
                                                                       style="font-size: 12px;">Available</span>
                            <p class="fs-5 fw-bold">GBP 1,000.00</p>
                            <hr>
                            <div class="table-responsive text-center">
                                <table class="table table-dark table-borderless">
                                    <thead>
                                    <tr>
                                        <th class="fw-light small w-50 border-end">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="-96 0 512 512"
                                                    width="1em" height="1em" fill="currentColor"
                                                    class="text-success me-2">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path
                                                        d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z">
                                                </path>
                                            </svg>
                                            Income
                                        </th>
                                        <th class="fw-light small w-50">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="-96 0 512 512" width="1em" height="1em"
                                                 fill="currentColor" class="text-danger me-2">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path
                                                        d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z">
                                                </path>
                                            </svg>
                                            Expenses
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="border-end">GBP 2,110.00</td>
                                        <td>GBP 5.30</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

{%  endblock  %}