{% extends "base/base.html" %}
{% load static %}
{%  block content %}

{% include 'base/header_app_base.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'base/sidebar_base.html' %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
            <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-5 border-bottom">
                <h3>Transfer</h3>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-5 col-xl-5 col-xxl-4">
                    <h4 class="mb-4">Account Overview</h4>
                    <div class="bg-dark text-white">
                        <div class="p-3">
                            <p class="fw-lighter" style="font-size: 12px;">Balance</p>
                            <h2 class="fw-bold">{{currency_code.upper}} {{ wallet.balance }}</h2>
                            <hr>
                            <span class="fw-lighter" style="font-size: 12px;">Username</span>
                            <p>{{ auth_user.username }}</p><span class="fw-lighter" style="font-size: 12px;">Account Name</span>
                            <p>{{ auth_user.first_name }} {{ auth_user.last_name}}</p>
                        </div>
                        <button class="btn btn-light form-control rounded-0 p-3 border-0 fw-bold" type="button"
                                style="background-color: #c6b5f2 !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                 viewBox="0 0 16 16" class="bi bi-box-arrow-up-right fs-5 me-2">
                                <path fill-rule="evenodd"
                                      d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z">
                                </path>
                                <path fill-rule="evenodd"
                                      d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z">
                                </path>
                            </svg>
                            Share details
                        </button>
                        <button class="btn btn-light form-control rounded-0 p-3 border-0 fw-bold" type="button"
                                style="background-color: #fec0a7 !important;" data-bs-toggle="modal"
                                data-bs-target="#requestModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                 viewBox="0 0 16 16" class="bi bi-cash fs-5 me-2">
                                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path>
                                <path
                                        d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z">
                                </path>
                            </svg>
                            Request payment
                        </button>
                    </div>
                </div>
                <div
                        class="col-md-12 col-lg-7 col-xl-7 col-xxl-7 my-sm-5 my-5 my-md-5 my-lg-0 px-3 px-sm-5 px-md-0 ps-lg-3 ps-xl-5">
                    <h4 class="mb-4">Transfer to</h4>
                    <form method="post" action="{% url 'payapp:create_transaction' %}">
                        {% csrf_token %}
                        <fieldset>
                            <div class="mb-4">
                                <label class="form-label">Beneficiary</label>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="searchUserInput" name="searchUserInput"
                                           placeholder="Search by username or email address"
                                           aria-label="Recipient's username" aria-describedby="searchBtn" required>
                                    <button class="btn btn-primary" type="button" id="searchBtn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                             viewBox="0 0 24 24"
                                             fill="none"
                                             class="fs-5 text-white fw-bold">
                                            <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                                  stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" id="sent_to" name="sent_to">

                            <input class="form-control mb-4" type="text" disabled="" readonly=""
                                   id="receiverFullname" name="receiverFullname" placeholder="Full name shows here...">
                            <div class="input-group mb-4">
                                <span class="bg-white input-group-text text-black-50">
                                    {{currency_code.upper}}
                                </span>
                                <input class="form-control" type="text" id="amountInput" name="amountInput"
                                       placeholder="Amount" required>
                            </div>
                            <div class="form-floating mb-4">
                                <textarea class="form-control" id="refInput" name="refInput"
                                          placeholder="References"></textarea>
                                <label class="form-label text-black-50" for="refInput">Reference (optional)</label>
                            </div>
                            <button class="btn btn-dark form-control" type="submit">Send</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </main>


    </div>
</div>

<!--{% if display_modal %}--> <!--{% endif %}-->
<div class="modal fade" role="dialog" tabindex="-1" id="requestModal" data-bs-backdrop="static"
     data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request Money</h4>
                <button class="btn-close" type="button" aria-label="Close"
                        data-bs-dismiss="modal"></button>
            </div>
            <form method="post" action="{% url 'payapp:request_money' %}">
                {% csrf_token %}
                <fieldset>
                    <div class="modal-body">

                        <div class="mb-4">
                            <label class="form-label">From:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="searchReqUserInput" name="searchUserInput"
                                       placeholder="Search by username or email address"
                                       aria-label="Recipient's username" aria-describedby="searchBtn" required>
                                <button class="btn btn-secondary" type="button" id="searchReqBtn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         class="fs-5 text-white fw-bold">
                                        <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                              stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>

                        </div>

                        <input type="hidden" id="req_from" name="req_from">

                        <input id="accFullnameInput" name="accFullnameInput" class="form-control mb-4" type="text"
                               disabled="" readonly=""
                               placeholder="Full name shows here...">
                        <div class="input-group mb-4">
                        <span class="bg-white input-group-text text-black-50">
                                    {{currency_code.upper}}
                                </span>
                            <input id="reqAmountInput" name="reqAmountInput" class="form-control" type="text"
                                   placeholder="Amount" required>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="reqRef" name="reqRef"
                                      placeholder="References"></textarea>
                            <label class="form-label text-black-50" for="reqRef">Reference
                                (optional)</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button"
                                data-bs-dismiss="modal">Cancel
                        </button>
                        <button class="btn btn-success" type="submit">Request</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<script>
    const searchBtn = document.getElementById('searchBtn');
    searchBtn.addEventListener('click', function () {
        hideError();

        const fd = new FormData();
        console.log(fd);

        const userInput = document.getElementById('searchUserInput').value.toLowerCase();
        const receiverInput = document.getElementById('sent_to');
        let receiverFullname = document.getElementById('receiverFullname');

        if (!userInput) {
            showError('Search field is empty', true);
        } else {
            fd.append("search_user", userInput);
            $.ajax({
                url: "/app/search_user",
                type: "POST",
                data: {search_user: userInput},
                success: function (response) {
                    // alert('Success');
                    const {status, msg, data} = response
                    console.log(data);
                    receiverInput.value = data.username;
                    receiverFullname.value = data.first_name + ' ' + data.last_name;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    showError(JSON.parse(jqXHR.responseText).msg, true);
                    // alert(JSON.parse(jqXHR.responseText).msg);
                    console.log(JSON.parse(jqXHR.responseText).msg);
                }
            });
        }

    }, false);

    const searchReqBtn = document.getElementById('searchReqBtn');
    searchReqBtn.addEventListener('click', function () {
        hideError();

        const fd = new FormData();
        const userInput = document.getElementById('searchReqUserInput').value.toLowerCase();
        const accInput = document.getElementById('req_from');
        let accFullname = document.getElementById('accFullnameInput');

        if (!userInput) {
            showError('Search field is empty', true);
        } else {
            fd.append("search_user", userInput);
            $.ajax({
                url: "/app/search_user",
                type: "POST",
                data: {search_user: userInput},
                success: function (response) {
                    const {status, msg, data} = response
                    accInput.value = data.username;
                    accFullname.value = data.first_name + ' ' + data.last_name;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    showError(JSON.parse(jqXHR.responseText).msg, true);
                    console.log(JSON.parse(jqXHR.responseText).msg);
                }
            });
        }

    }, false);
</script>

{%  endblock  %}
